body{
    background-color: white;
    font-family: 'Open Sans', sans-serif;

}



h1{
    font-family: 'Fugaz One', cursive;
    font-size: 30px;
    line-height: 20px;
    margin-top: 120px;
}

a{
    text-decoration: none;
    font-weight: bold;
    color: red;
}

.top_container{
    color: black;
    height: 50px;
    position: relative;
    margin: auto;
    margin-bottom: 10px;
    border-bottom: solid;
    border-width: thin;

}

.getintouch{
    font-size: 0.8em;
    float: right;
    padding: 20px;
}

.middle_container{
    position: relative;
    width:  auto;
    height: 700px;
    margin: auto;
}


.sidebar{
    border-width: thin;
    border-color: black;
    border-style: solid;
    color: black;
    width: 160px;
    height: 680px;
    padding: 10px;
    float: left;
}

.place_logo{
    border-width: thin;
    border-color: white;
    border-style: dashed;
    height: 280px;

}

.navigation{
    border-width: thin;
    border-color: white;
    border-style: dashed;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
}

.project_links{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.project_showcase{
    background-color: grey;
    background-image: url('https://s3.amazonaws.com/img.aasd.com.au/40430381.jpg');
    position: static;
    height: 700px;
    margin-left: 190px;

}

.project_description{
    background-color: black;
    color: white;
    float: right;
    width: 200px;
    height: 510px;
    padding: 20px;
    margin-top: 150px;
}

.Blog_container{
    border-width: thin;
    border-color: blue;
    border-style: solid;
    position: static;
    height: 700px;
    margin-left: 190px;

}

.sprint_tasks{
    padding: 20px;
}

.Blog_post{
    border-width: medium;
    border-color: blue;
    border-style: solid;
    position: relative;
    color: black;
    height: 560px;
    padding: 20px;
    margin: 20px;
    overflow: scroll;
}

.copyright{
    font-size: 0.8em;
    text-align: right;
}

footer{
    background-color: #4d85a5;
    padding: 20px;
    color: White;
}
