body{
    background-color: white;
}

.top_container{
    background-color: black;
    color: white;
}

.main_head{
    background-color: blue;
    color: white;
    padding: 20px;
    height: auto;
    width: 200px;
    float: left;
}

.place_logo{
    border-width: thin;
    border-color: white;
    border-style: solid;
}

.navigation{
    background-color: white;
    padding: 20px;
}

.project_links{
    background-color: blue;
    border-width: thin;
    border-color: blue;
    border-style: solid;
    width: 100px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
}

.project_showcase{
    background-color: grey;
    padding: 20px;
}

.project_image{
    background-color: white;
    border-width: thin;
    border-color: black;
    border-style: solid;
}

.project_description{
    background-color: black;
    color: white;
}

.contact{
    background-color: green;
}
